*.py?
.installed.cfg
.mr.developer.cfg
bin/
buildout.cfg
develop-eggs/
eggs/
include/
lib/
local/
parts/
templates/balancer.conf
templates/cache.conf
templates/logrotate.conf
templates/main.conf
templates/nginx/
src/collective.*/
src/plone.*/
src/plumi.app/plumi.app.egg-info/
src/plumi.content/
src/plumi.locales/
src/plumi.skin/
src/eqb.recipe.uwsgi/
torrents/
torrents_safe/
transcoded/
transcoded
var/
var
videos/
versions.cfg
development.ini
production.ini
active.ini
.project
.pydevproject
.settings
uuid.txt
