*.py?
*.DS_Store
.installed.cfg
.mr.developer.cfg
bin/
buildout.cfg
develop-eggs/
eggs/
include/
lib/
local/
parts/
templates/*.conf
templates/nginx/
src/
torrents/
torrents_safe/
transcoded/
transcoded
var/
var
videos/
versions.cfg
development.ini
production.ini
active.ini
.project
.pydevproject
.settings
uuid.txt
