*.py?


.installed.cfg
.mr.developer.cfg
bin/
buildout.cfg
develop-eggs/
eggs/
include/
lib/
parts/
src/collective.contentlicensing/
src/contentlicensingollective.piwik.core/
src/collective.piwik.flowplayer/
src/collective.piwik.core/
src/collective.transcode.daemon/
src/collective.transcode.recipe/
src/collective.transcode.star/
src/plone.app.locales/
src/plumi.app/plumi.app.egg-info/
src/plumi.content/
src/plumi.locales/
src/plumi.skin/
torrents/
torrents_safe/
transcoded/
var/
