# Plumi development buildout
# ==========================
#
# Use this for development instances:
#
#  - nginx and varnish are not built
#
#  - there is no load balancing
#
#  - additional development tools such as plone.reload,
#    Products.PrintingMailHost, Products.DocFinderTab and mr.developer are
#    installed. Look for these on http://pypi.python.org/pypi for more
#    details.
#
#

[buildout]
extends = base.cfg
sources = sources

#sources-base = git git@github.com:
sources-base = git https://github.com/

parts =
    lxml
    zeoserver
    instance-debug
    ploneftp

    transcodedaemon
    x264-build
    ogg-build
    vorbis-build
    theora-build
    faac-build
    faad-build
    vpx-build
    lame-build
    ffmpeg-build
    ffmpeg
    qt-faststart

    zopepy
    omelette
    tests
    supervisor
    navtree-patch

develop = .
          src/plumi.content
          src/plumi.skin
          src/plumi.locales
          src/plone.app.locales
          src/collective.transcode.daemon
          src/collective.transcode.recipe
          src/collective.transcode.star
          src/collective.mediaelementjs
          src/collective.piwik.mediaelement
          src/collective.piwik.core
          src/collective.seeder

[plumisite-old-theme]
<= plumisite
site-id = PloneOldTheme
profiles-initial =
    plumi.app:default
    Products.CMFPlone:plone-content
    plumi.app:default
    plumi.skin:default

[plumisite-new-theme]
<= plumisite
site-id = PloneNewTheme
profiles-initial =
    plumi.app:default
    Products.CMFPlone:plone-content
    plumi.app:default
    plonetheme.plumigreen:default


# Override ZEO client instance settings to add debug tools
[instance-settings]
eggs +=
    Products.PrintingMailHost
    Products.DocFinderTab
    plone.reload
    iw.debug
zcml +=
    plone.reload
    iw.debug

# Simplified supervisor configuration starting only development software
# Start bin/instance-debug fg manually.
[supervisor]
programs =
    10 zeo              ${zeoserver:location}/bin/runzeo
    20 transcodedaemon  ${buildout:directory}/bin/transcodedaemon [fg]

[tests]
recipe = zc.recipe.testrunner
eggs =
    ${instance-settings:eggs}
    plumi.content [test]
#   collective.contentlicensing

# mr.developer - makes it easier to switch between released and unreleased
# versions of a package. Run ./bin/develop help for more information.

[sources]
plumi.content = ${buildout:sources-base}plumi/plumi.content.git
plumi.skin = ${buildout:sources-base}plumi/plumi.skin.git
plumi.locales = ${buildout:sources-base}plumi/plumi.locales.git

collective.transcode.star = ${buildout:sources-base}plumi/collective.transcode.star.git
collective.transcode.recipe = ${buildout:sources-base}plumi/collective.transcode.recipe.git
collective.transcode.daemon = ${buildout:sources-base}plumi/collective.transcode.daemon.git

collective.piwik.mediaelement = ${buildout:sources-base}plumi/collective.piwik.mediaelement.git
collective.piwik.core = ${buildout:sources-base}plumi/collective.piwik.core.git

collective.seeder = ${buildout:sources-base}plumi/collective.seeder.git

collective.contentlicensing = ${buildout:sources-base}collective/collective.contentlicensing.git

collective.mediaelementjs = ${buildout:sources-base}plumi/collective.mediaelementjs.git
