# Production buildout
# ===================
#
# This is the default production setup for Plumi. 
#
# Note that production.cfg assumes that you have run a development buildout 
# at least once and checked in the known-good-versions.cfg file that is
# generated when a development buildout is completed.
#

[buildout]
extensions = buildout.dumppickedversions mr.developer
dump-picked-versions-file = versions/last-production-versions.cfg

sources-base = git https://github.com/

# Pin ourselves to the versions previously built in a devel.cfg configuration
# and checked into version control.
extends = 
    base.cfg
    versions/known-good-versions.cfg

sources-base = git https://github.com/

develop = .
#          src/plumi.content
#          src/plumi.skin
#          src/plumi.locales
#          src/collective.transcode.star
#          src/collective.transcode.daemon
#          src/collective.transcode.recipe
#          src/collective.piwik.mediaelement
#          src/collective.piwik.core
#          src/collective.seeder
#          src/collective.contentlicensing
#          src/collective.medialementjs

[zeoserver]
effective-user = ${site:zeo-user}

[sources]
#plumi.content = ${buildout:sources-base}plumi/plumi.content.git branch=master
#plumi.skin = ${buildout:sources-base}plumi/plumi.skin.git branch=master
#plumi.locales = ${buildout:sources-base}plumi/plumi.locales.git branch=master

#collective.transcode.star = ${buildout:sources-base}plumi/collective.transcode.star.git branch=master
#collective.transcode.daemon = ${buildout:sources-base}plumi/collective.transcode.daemon.git branch=master

#collective.piwik.mediaelement = ${buildout:sources-base}plumi/collective.piwik.mediaelement.git branch=master
#collective.piwik.core = ${buildout:sources-base}plumi/collective.piwik.core.git branch=master

#collective.seeder = ${buildout:sources-base}plumi/collective.seeder.git branch=master

#collective.contentlicensing = ${buildout:sources-base}collective/collective.contentlicensing.git branch=master

