[site]
# arch should be either linux32 or linux64. mac support coming soon
arch = linux32

# ipv4 address for ${site:local-ip}
local-ip = 127.0.0.1

# the default Administrator's username and password
user = admin:admin

# the address where ZEO will be listening on
zeo-address = ${site:local-ip}:8100

# the address you debug instance will be listening on
instance-debug-address = 8080

# hostname and port for transcode daemon
transcode-host = ${site:local-ip}
transcode-port = 8888

# hostname, port and credentials for supervisor
supervisor-host = ${site:local-ip}
supervisor-port = 8890
supervisor-user = supervu
supervisor-pass = supervp

# the folder where transcoded videos are being stored
videofolder = transcoded

# additional eggs that should be available to your portal - leave empty if unsure
eggs =
#    em.taxonomies
#    unweb.shareit
#    collective.captcha
#    Products.LongRequestLogger[standalone]
#    plone.formwidget.captcha
#    plonetheme.plumigreen
#    plumi.euclid

# additional zcml includes - leave empty if unsure
zcml =
#    em.taxonomies
#    unweb.shareit
#    collective.captcha
#    plone.formwidget.captcha
#    plonetheme.plumigreen
#    plumi.euclid

environment-vars =
    PYTHON_EGG_CACHE ${buildout:directory}/var/.python-eggs
    zope_i18n_compile_mo_files true
    PTS_LANGUAGES en, id
#    longrequestlogger_file ${buildout:directory}/var/log/longrequest.log
#    longrequestlogger_timeout 5
#    longrequestlogger_interval 5


### The following configuration options are only used by production builds ###

# the id of your plumi site
portal-id = Plone

# the address where Zope's Medusa FTP is listening on
instance-ftp = ${site:local-ip}:8021

# the public ftp address of plumiftp. By default any ip, port 21, which requires root privileges to start
plumiftp-address = *:21

# change that if not using port 21
ftp-user = root

# the addresses of the zope instances
instance1-address = ${site:local-ip}:8081
instance2-address = ${site:local-ip}:8082
instance3-address = ${site:local-ip}:8083
instance4-address = ${site:local-ip}:8084
instance5-address = ${site:local-ip}:8085
instance6-address = ${site:local-ip}:8086
instance7-address = ${site:local-ip}:8087
instance8-address = ${site:local-ip}:8088

# the icp addresses for each zope instance
instance1-icp = ${site:local-ip}:8091
instance2-icp = ${site:local-ip}:8092
instance3-icp = ${site:local-ip}:8093
instance4-icp = ${site:local-ip}:8094
instance5-icp = ${site:local-ip}:8095
instance6-icp = ${site:local-ip}:8096
instance7-icp = ${site:local-ip}:8097
instance8-icp = ${site:local-ip}:8098

# effective user for the transcodedaemon process
transcode-user = daemon

# shared secret for symmetric encryption of transcode requests. If you update it here make sure you also update it in the transcode settings panel.
secret = 1771d99931264d538e75eeb19da7d6a0

# varnish user and address to listen to
cache-user = root
cache-address = ${site:local-ip}:8099

# haproxy port and host
balancer-host = ${site:local-ip}
balancer-port = 8090
balancer-user = proxy

# syslog address
syslog-host = ${site:local-ip}

# web server user
www-user = www-data
www-address = 80
www-server-name = new.plumi.org
www-videoserver-name = newvideos.plumi.org

# effective user for zope and zeo processes
zeo-user = zope
zope-user = zope

# cache options
zeo-client-cache-size = 1024MB
zodb-cache-size-bytes = 102400000

# the mimetypes supported by default by the transcode profiles below
default_supported_mimetypes = ['application/ogg',\
                                'video/ogg',\
                                'video/x-ogg',\
                                'video/x-ogm+ogg',\
                                'video/flv',\
                                'video/x-flv',\
                                'video/mpeg',\
                                'video/3gpp',\
                                'video/x-ms-wmv',\
                                'video/quicktime',\
                                'video/x-la-asf',\
                                'video/x-ms-asf',\
                                'video/x-msvideo',\
                                'video/mp4',\
                                'video/webm',\
                                'video/x-matroska',\
                                ]

# supported transcoding profiles
transcode-profiles = [\
            {'id': 'iso',\
             'cmd': 'scripts/iso %s %s',\
             'supported_mime_types': 'text/xml',\
             'output_mime_type': 'application/octet-stream',\
             'output_extension': 'iso' },\
            {'id': 'jpeg',\
             'cmd': 'scripts/jpeg %s %s',\
             'supported_mime_types': ${site:default_supported_mimetypes},\
             'output_mime_type': 'image/jpeg',\
             'output_extension': 'jpg' },\
            {'id': 'mpeg2',\
             'cmd': 'scripts/mpeg2 %s %s',\
             'supported_mime_types': ${site:default_supported_mimetypes},\
             'output_mime_type': 'video/mpeg', 'output_extension': 'mpg' },\
            {'id': 'mp4-high',\
             'cmd': 'scripts/mp4-high %s %s',\
             'supported_mime_types': ${site:default_supported_mimetypes},\
             'output_mime_type': 'video/mp4', 'output_extension': 'mp4' },\
            {'id': 'mp4-low',\
             'cmd': 'scripts/mp4-low %s %s',\
             'supported_mime_types': ${site:default_supported_mimetypes},\
             'output_mime_type': 'video/mp4', 'output_extension': 'mp4' },\
            {'id': 'webm-high',\
             'cmd': 'scripts/webm-high %s %s',\
             'supported_mime_types': ${site:default_supported_mimetypes},\
             'output_mime_type': 'video/webm', 'output_extension': 'webm' },\
            {'id': 'webm-low',\
             'cmd': 'scripts/webm-low %s %s',\
             'supported_mime_types': ${site:default_supported_mimetypes},\
             'output_mime_type': 'video/webm', 'output_extension': 'webm' },\
            ]

active-instances =
    41   instance1       ${buildout:directory}/bin/instance1 [console]                                               true ${site:zope-user}
    42   instance2       ${buildout:directory}/bin/instance2 [console]                                               true ${site:zope-user}
#    43   instance3       ${buildout:directory}/bin/instance3 [console]                                               true ${site:zope-user}
#    44   instance4       ${buildout:directory}/bin/instance4 [console]                                               true ${site:zope-user}
#    45   instance5       ${buildout:directory}/bin/instance5 [console]                                               true ${site:zope-user}
#    46   instance6       ${buildout:directory}/bin/instance6 [console]                                               true ${site:zope-user}
#    47   instance7       ${buildout:directory}/bin/instance7 [console]                                               true ${site:zope-user}
#    48   instance8       ${buildout:directory}/bin/instance8 [console]                                               true ${site:zope-user}

[sources]
#em.taxonomies = svn http://svn.engagemedia.org/em.taxonomies/trunk/

[versions]
pycrypto = 2.4.1
