[versions]
PILwoTk = 1.1.6.4
Products.DocFinderTab = 1.0.4
Products.PrintingMailHost = 0.7
collective.recipe.cmd = 0.5
collective.recipe.omelette = 0.10
collective.recipe.patch = 0.2.2
collective.recipe.scriptgen = 0.2
collective.recipe.supervisor = 0.14
contentratings = 1.0-rc2
elementtreewriter = 1.1
hexagonit.recipe.cmmi = 1.5.0
iw.recipe.cmd = 0.3
mr.developer = 1.17
plone.formwidget.captcha = 1.0b2
unweb.recipe.ploneftp = 0.1

#Required by:
#collective.seeder 1.0
BitTorrent-bencode = 5.0.8.1

#Required by:
#plumi.content 4.1rc1
Products.ATVocabularyManager = 1.6.0a1

#Required by:
#plumi.app 4.1rc1
#plumi.content 4.1rc1
Products.LinguaPlone = 4.0.2

#Required by:
#collective.transcode.daemon 0.7
Twisted = 10.2.0

#Required by:
#plone.app.discussion 1.0
collective.autopermission = 1.0b1

#Required by:
#collective.transcode.star 0.7
collective.flowplayer = 3.0rc2

#Required by:
#plumi.app 4.1rc1
collective.sharerizer = 1.0

#Required by:
#collective.flowplayer 3.0rc2
hachoir-core = 1.3.3

#Required by:
#plumi.content 4.1rc1
hachoir-metadata = 1.3.3

#Required by:
#plumi.content 4.1rc1
hachoir-parser = 1.3.4

#Required by:
#collective.transcode.star 0.7
hashlib = 20081119

#Required by:
#hexagonit.recipe.cmmi 1.5.0
hexagonit.recipe.download = 1.5.0

#Required by:
#Products.ATVocabularyManager 1.6.0a1
imsvdex = 1.0

#Required by:
#plone.app.discussion 1.0
plone.app.uuid = 1.0b2

#Required by:
#plumi.app 4.1rc1
plone.contentratings = 1.0-rc2

#Required by:
#plone.app.uuid 1.0b2
plone.uuid = 1.0b2

#Required by:
#collective.transcode.recipe 0.2
py = 1.4.1

#Required by:
#unweb.recipe.ploneftp 0.1
pyftpdlib = 0.6.0

#Required by:
#plumi.app 4.1rc1
qi.portlet.TagClouds = 1.32

#Required by:
#plone.formwidget.captcha 1.0b2
skimpyGimpy = 1.4
