[versions]
PILwoTk = 1.1.6.4
Products.DocFinderTab = 1.0.5
Products.PrintingMailHost = 0.7
Products.Zope-Hotfix-20110622 = 1.0
collective.recipe.cmd = 0.5
collective.recipe.omelette = 0.11
collective.recipe.patch = 0.2.2
collective.recipe.plonesite = 1.4.3
collective.recipe.scriptgen = 0.2
collective.recipe.supervisor = 0.17
collective.seeder = 1.0
contentratings = 1.0
elementtreewriter = 1.1
hexagonit.recipe.cmmi = 1.5.0
iw.recipe.cmd = 0.3
plone.formwidget.captcha = 1.0
unweb.recipe.ploneftp = 0.1

#Required by:
#collective.seeder 1.0
BitTorrent-bencode = 5.0.8.1

#Required by:
#plumi.content 4.2
Products.ATVocabularyManager = 1.6.1

#Required by:
#collective.transcode.daemon 0.8
Twisted = 11.0.0

#Required by:
#plone.app.discussion 1.1.2
collective.autopermission = 1.0b2

#Required by:
#collective.transcode.star 0.10
collective.flowplayer = 3.0rc4

#Required by:
#collective.flowplayer 3.0rc4
hachoir-core = 1.3.3

#Required by:
#plumi.content 4.2
hachoir-metadata = 1.3.3

#Required by:
#plumi.content 4.2
hachoir-parser = 1.3.4

#Required by:
#collective.transcode.star 0.10
hashlib = 20081119

#Required by:
#hexagonit.recipe.cmmi 1.5.0
hexagonit.recipe.download = 1.5.0

#Required by:
#Products.ATVocabularyManager 1.6.1
imsvdex = 1.0

#Required by:
#plone.app.discussion 1.1.2
plone.app.uuid = 1.0

#Required by:
#plumi.app 4.2.2
plone.contentratings = 1.0

#Required by:
#plone.app.uuid 1.0
plone.uuid = 1.0.1

#Required by:
#collective.transcode.recipe 0.2
py = 1.4.5

#Required by:
#collective.transcode.star 0.10
pycrypto = 2.3

#Required by:
#unweb.recipe.ploneftp 0.1
pyftpdlib = 0.6.0

#Required by:
#plone.formwidget.captcha 1.0
skimpyGimpy = 1.4
