[versions]
PILwoTk = 1.1.6.4
collective.recipe.backup = 1.7
collective.recipe.template = 1.8
collective.transcode.recipe = 0.2
plone.recipe.command = 1.1
plone.recipe.haproxy = 1.1.1
plone.recipe.varnish = 1.2.1
z3c.recipe.staticlxml = 0.7.2

#Required by:
#collective.piwik.flowplayer 0.4
collective.piwik.core = 0.3

#Required by:
#z3c.recipe.staticlxml 0.7.2
zc.recipe.cmmi = 1.3.4
