[versions]
Pillow = 1.7.7
collective.recipe.backup = 2.4
collective.recipe.template = 1.9
collective.transcode.recipe = 0.2
meld3 = 0.6.8
plone.recipe.command = 1.1
plone.recipe.haproxy = 1.1.2
plone.recipe.varnish = 1.2.1
supervisor = 3.0a12
z3c.recipe.staticlxml = 0.8

#Required by:
#plumi.app 4.3
Products.LinguaPlone = 4.1.1

#Required by:
#collective.piwik.mediaelement 0.2
#collective.transcode.star 0.14
collective.mediaelementjs = 0.1.4

#Required by:
#collective.transcode.daemon 0.10
pyasn1 = 0.1.2

#Required by:
#plumi.app 4.3
qi.portlet.TagClouds = 1.33

#Required by:
#z3c.recipe.staticlxml 0.8
zc.recipe.cmmi = 1.3.5
